@import "~bootstrap/scss/bootstrap";

html,
body {
    padding: 0;
    margin: 0 auto;
}

.app {
    background-image: url('../assets/images/natural-wooden-background.jpg');
    color: white;
}


.section {
    padding-top: 7rem;

    &__description {
        h4 {
            line-height: 1.7;

            a {
                text-decoration: none;
            }
        }

        &--flex {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 6rem;

            h4 {
                width: 30%;
            }
        }
    }

    &__contact {
        padding-top: 13rem;
    }

    &__footer {
        height: 180px;
        width: 100vw;
        margin-top: 8rem;
        background-color: black;
    }
}

.carousel {
    margin-top: 3rem;

    .carousel-control-prev, .carousel-control-next {
        display: none;
    }

    .carousel-indicators {
        bottom: -5rem;
    }
}

.work-card {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 20rem;

    &__image {
        width: 45%;

        img {
            width: 100%;
            object-fit: cover;
        }
    }
    &__text {
        width: 45%;
        font-size: 20px;
        padding-left: 20px;
    }
  }

  .company-name {
    color: white;

    a {
        font-size: 1.8rem;
    }
  }

  .navbar-item {
    width: 30%;
}
  