@import "~bootstrap/scss/bootstrap";

body {
    position: relative;
}

.background-img {
    width: 100vw;
    height: 100vh;        
    background: url("../assets/images/wood-1846972_1920.jpg") no-repeat;
    background-size: cover;
    position: fixed;
    opacity: .7;
    z-index: 1;
}

.container {
    position: relative;
    z-index: 10;
    color: black;
}


.section {
    padding-top: 7rem;

    &__description {
        h4 {
            line-height: 1.7;

            a {
                text-decoration: none;
            }
        }

        &--flex {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 6rem;

            h4 {
                width: 30%;
            }
        }
    }

    &__contact {
        padding-top: 13rem;
    }

    &__footer {
        height: 140px;
        width: 100vw;
        margin-top: 8rem;
        background-color: black;
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
}

.carousel {
    margin-top: 3rem;

    .carousel-control-prev, .carousel-control-next {
        display: none;
    }

    .carousel-indicators {
        bottom: -5rem;
    }
}

.work-card {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 20rem;

    &__image {
        width: 45%;

        img {
            width: 100%;
            object-fit: cover;
        }
    }
    &__text {
        width: 45%;
        font-size: 20px;
        padding-left: 20px;
    }
  }

  .company-name {
    color: white;

    a {
        font-size: 1.8rem;
    }
  }

  .navbar-item {
    width: 30%;
}
  